<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Google Test Suite" verbose = "5">
  <test name = "Gogle tests" thread-count="5" >
    <classes>
      <class name="com.testng.GoogleTest"/>
      <class name="com.testng.TestNgBasicsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
